<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="main-body">
    <main class="main">
      <div class="category-container">
        <h1>GENERATOR</h1>
        <div class="main-row">
          <form action="/random-anime" method="POST">
            <input
              class="generator-main"
              type="submit"
              name="anime"
              value="Generate Random Anime"
            />
          </form>
          <form action="/random-joke" method="POST">
            <input
              class="generator-main"
              type="submit"
              name="joke"
              value="Generate Random Joke"
            />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
