<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body class="main-body">
    <%- include('partials/header.ejs') %>
    <main class="main">
      <div class="category-container">
        <h1>GENERATOR</h1>
        <div class="main-row">
          <form action="/random-anime" method="POST">
            <input
              class="generator-main"
              type="submit"
              name="anime"
              value="🔖Generate Random Anime🔖"
            />
          </form>

          <form action="/random-joke" method="POST">
            <input
              class="generator-main"
              type="submit"
              name="joke"
              value="😄Generate Random Joke😄"
            />
          </form>
        </div>
        <% if (locals.error) {%>
        <h3><%= locals.error %></h3>
        <%}%>
      </div>
    </main>
    <script>
      $(document).ready(() => {
        $(".category-container").hover(
          () => {
            $(".main-body").css("background-color", "rgb(87, 87, 87)");
            $(".category-container").css("background-color", "rgb(24, 24, 24)");
          },
          () => {
            $(".main-body").css("background-color", "rgb(24, 24, 24)");
            $(".category-container").css("background-color", "rgb(87, 87, 87)");
          }
        );
      });
    </script>
  </body>
</html>
