@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto" sans-serif;
}

/*IndexAnimes*/
.anime-cont {
  font-family: "LXGW WenKai Mono TC", monospace;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(180, 0%, 9%, 1)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(229, 53%, 3%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form {
  background: none;
}

.anime-button {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "LXGW WenKai Mono TC", monospace;
  box-shadow: 0px 0px 10px black;
}

.anime-button:hover {
  background: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
.embed-anime-video {
  margin-top: 100px;
  width: 700px;
  height: 400px;
  border: 3px solid white;
}
.anime-image {
  margin-top: 100px;
  height: 400px;
  max-width: 900px;
  border: 3px solid white;
}
.anime-info-container {
  width: 700px;
  height: 300px;
  font-size: 15px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(3) rotate(90)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(180, 9%, 1%, 1)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(229, 35%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  border: 2px solid white;
}
.anime-info-title {
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  box-shadow: inset 0 0 10px rgb(124, 190, 190);
}
.anime-title {
  font-size: 18px;
  color: rgb(89, 121, 150);
  text-shadow: 0px 0px 100px rgb(89, 121, 150);
}
.anime-info-container h2 {
  font-size: 16px;
}
.anime-description {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.anime-description p {
  color: black;
  font-weight: 700;
}
.description-button {
  border: none;
  color: lightblue;
  text-decoration: underline;
  font-weight: 200;
  background: none;
  cursor: pointer;
}
.anime-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.label {
  font-weight: 700;
  font-size: 1.1rem;
}
.anime-row h4 {
  margin-left: 10px;
  color: yellow;
}

h4.anime-star {
  color: yellow;
}
h4.star-error {
  color: orange;
}
@media (max-width: 800px) {
  .embed-anime-video {
    width: 550px;
    height: 280px;
  }
  .anime-image {
    height: 280px;
    max-width: 550px;
  }
  .anime-info-container {
    width: 550px;
    height: 280px;
  }
  .embed-anime-video,
  .anime-image {
    margin-top: 50px;
  }
}
@media (max-width: 560px) {
  .embed-anime-video {
    width: 350px;
    height: 200px;
  }
  .anime-image {
    max-width: 350px;
    height: 200px;
  }
  .anime-info-container {
    width: 350px;
    height: 500px;
  }
  .embed-anime-video,
  .anime-image {
    margin-top: 20px;
  }
}

/*IndexAnimes*/
